@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Gantari", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: white;
}

.container {
  padding: 0px 15px;
  width: 375px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    min-width: 375px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1110px) {
  .container {
    min-width: 1110px;
    margin: 0 auto;
  }
}
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: "Open Sans", sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em; /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
  Document
  ========
  */
/**
  Use a better box model (opinionated).
  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Use a more readable tab size (opinionated).
  */
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
  1. Correct the line height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
  Sections
  ========
  */
/**
  Remove the margin in all browsers.
  */
body {
  margin: 0;
  padding: 0;
}

/**
  Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
  Grouping content
  ================
  */
/**
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  */
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
  Text-level semantics
  ====================
  */
/**
  Add the correct text decoration in Chrome, Edge, and Safari.
  */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  Add the correct font weight in Edge and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd 'em' font sizing in all browsers.
  */
/**
  Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  Tabular data
  ============
  */
/**
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  */
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
  Forms
  =====
  */
/**
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

address {
  font-style: normal;
}

/**
  Remove the inheritance of text transform in Edge and Firefox.
  1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
  Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  Remove the inner border and padding in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  Restore the focus styles unset by the previous rule.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  Remove the additional ':invalid' styles in Firefox.
  See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/**
  Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
  */
legend {
  padding: 0;
}

/**
  Add the correct vertical alignment in Chrome and Firefox.
  */
progress {
  vertical-align: baseline;
}

/**
  Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  Remove the inner padding in Chrome and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to 'inherit' in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
  Interactive
  ===========
  */
/*
  Add the correct display in Chrome and Safari.
  */
summary {
  display: list-item;
}

:root {
  --page-bg-color: #f9f9fd;
  --primary-text-color: #212121;
  --card-set-gap: 15px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 375px) {
  .navbar {
    width: 100%;
    -webkit-box-shadow: 0 1px 4px rgba(22, 128, 234, 0.15);
            box-shadow: 0 1px 4px rgba(22, 128, 234, 0.15);
    background-color: rgb(221, 236, 255);
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 10;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 62px;
  }
  .navbar .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .nav-container li {
    list-style: none;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .navbar .nav-container a:hover {
    font-weight: bolder;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0297F1;
  }
  .nav-container .hamburger-lines .line1 {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 20px;
    background-color: rgb(221, 236, 255);
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
    width: 320px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    text-align: center;
    margin-left: -15px;
    padding-left: 16px;
  }
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 5px;
  }
  .logo__icon {
    width: 64px;
    height: 45px;
  }
  .nav-container input[type=checkbox]:checked ~ .menu-items {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav-container input[type=checkbox]:checked ~ .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-container input[type=checkbox]:checked ~ .logo__icon {
    width: 64px;
    height: 45px;
  }
}
@media screen and (min-width: 1110px) {
  .navbar {
    width: 100%;
  }
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
  .navbar .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .nav-container li {
    list-style: none;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .navbar .nav-container a:hover {
    font-weight: bolder;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 80px;
  }
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 27px;
    left: 20px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
  }
  .nav-container .hamburger-lines .line1 {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .nav-container .hamburger-lines .line3 {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 20px;
    height: 400px;
    width: 1110px;
    -webkit-transform: translate(-150%);
    transform: translate(-150%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: -16px;
    padding-left: 50px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    text-align: center;
  }
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 10px;
  }
  .logo__icon {
    width: 86px;
    height: 60px;
  }
  .nav-container input[type=checkbox]:checked ~ .menu-items {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav-container input[type=checkbox]:checked ~ .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-container input[type=checkbox]:checked ~ .logo__icon {
    width: 86px;
    height: 60px;
  }
}
@media screen and (min-width: 375px) {
  .footer {
    background-color: rgb(19, 40, 79);
    padding: 15px 0px 15px 0px;
  }
  .denomination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .make {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 55px;
  }
  .product {
    margin-right: 10px;
  }
  .product__list {
    margin-bottom: 15px;
  }
  .product__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 0.8;
    color: #FFFFFF;
  }
  .product__link:hover {
    color: #85888F;
    text-decoration: underline;
  }
  .contact {
    margin-bottom: 50px;
  }
  .contact__list {
    margin-bottom: 15px;
  }
  .contact__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 0.8;
    color: #FFFFFF;
  }
  .contact__link:hover {
    color: #85888F;
    text-decoration: underline;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social__svg {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1110px) {
  .footer {
    background-color: rgb(19, 40, 79);
    padding: 15px 0px 15px 0px;
  }
  .denomination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .make {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .direction {
    margin-right: 100px;
  }
  .product__list {
    margin-bottom: 15px;
  }
  .product__link {
    font-size: 20px;
    line-height: 1;
  }
  .contact__list {
    margin-bottom: 15px;
  }
  .contact__link {
    font-size: 20px;
    line-height: 1;
  }
}
@media screen and (min-width: 375px) {
  .gasification {
    background-image: url(/img/main/gasification_mobile_1x.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 0;
  }
  .supply {
    padding: 95px 0px;
  }
  .page {
    display: none;
  }
  .hup__header {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    padding: 0px 0px 25px 0px;
  }
  .hup__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #85888F;
    padding-bottom: 45px;
  }
  .hup .chek {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0297F1;
    border-radius: 10px;
  }
  .hup .chek__buttom {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #FFFFFF;
    padding: 15px 109px;
  }
  .hup .workers {
    position: relative;
  }
  .hup .workers__img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 1110px) {
  .gasification {
    background-image: url(/img/main/gasification_desctop_1x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .supply {
    padding: 30px 0px 155px 0px;
  }
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 185px;
  }
  .page__link {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: #FFFFFF;
  }
  .page__link:first-child {
    margin-right: 25px;
  }
  .hup__header {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    margin-right: 410px;
    word-spacing: 5px;
  }
  .hup__text {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    -webkit-columns: #FFFFFF;
       -moz-columns: #FFFFFF;
            columns: #FFFFFF;
    margin-right: 510px;
  }
  .hup .chek {
    display: inline;
  }
  .hup .chek__buttom {
    background-color: #0297F1;
    color: #FFFFFF;
    font-style: 20px;
    line-height: 1;
    font-weight: 400;
    padding: 16px 48px;
    border-radius: 10px;
    border: 2px;
  }
  .hup .chek__buttom:hover {
    color: black;
    text-decoration: underline;
    border: 2px solid #FFFFFF;
    font-weight: 600;
  }
}
@media screen and (min-width: 375px) {
  .gasholder {
    display: none;
  }
}
@media screen and (min-width: 1110px) {
  .gasholder {
    padding: 84px 0px 42px 0px;
    display: block;
    background-color: rgb(221, 236, 255);
  }
  .gasholder__heading {
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    color: #0297F1;
    text-align: center;
    padding-bottom: 50px;
  }
  .production {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
    height: 360px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    margin-top: 90px;
  }
  .picture__img {
    position: absolute;
    top: 100px;
    left: 30px;
  }
  .constituent {
    width: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .constituent__list {
    padding-bottom: 50px;
  }
  .constituent__list:nth-child(2) {
    margin-left: 65px;
  }
  .constituent__list:nth-child(3) {
    margin-left: 65px;
  }
  .constituent__subtitle {
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    color: #0297F1;
    padding-bottom: 10px;
    text-decoration: underline;
  }
  .constituent__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #13284F;
  }
}
@media screen and (min-width: 375px) {
  .finance {
    background-color: #FFFFFF;
    padding: 25px 0px 35px 0px;
  }
  .gasholder__heading {
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    color: #0297F1;
    padding-bottom: 25px;
    text-align: center;
  }
  .wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wraper__list {
    background-color: rgb(221, 236, 255);
    border-radius: 20px;
    margin-bottom: 25px;
  }
  .wraper__list:hover {
    background-color: rgb(19, 40, 79);
  }
  .wraper__heading {
    font-size: 22px;
    line-height: 1;
    font-weight: 400;
    color: #0297F1;
    padding: 25px 13px 7px;
    text-align: center;
  }
  .wraper__heading:hover {
    color: #FFFFFF;
  }
  .wraper__text {
    font-size: 34px;
    line-height: 1;
    font-weight: 600;
    color: #EF8711;
    text-align: center;
    padding-bottom: 15px;
  }
  .icone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icone__img {
    border-radius: 20px;
    width: 220px;
    height: 220px;
  }
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px 26px;
  }
  .benefits__list {
    text-align: center;
    font-size: 18px;
    line-height: 1;
    color: #0297F1;
    font-weight: 400;
    padding-bottom: 20px;
  }
  .benefits__list:last-child {
    padding-bottom: 0px;
  }
  .benefits__list:hover {
    color: #FFFFFF;
  }
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 28px;
  }
  .order__buttom {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: #0297F1;
    padding: 17px 60px;
    background-color: rgb(221, 236, 255);
    border-radius: 8px;
    border: 1px solid #0297F1;
  }
  .order__buttom:hover {
    border: 1px solid #FFFFFF;
    background-color: #EF8711;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 1110px) {
  .finance {
    padding: 40px 0px 95px 0px;
  }
  .wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wraper__list {
    width: 350px;
  }
}
@media screen and (min-width: 375px) {
  .implementation {
    background-color: rgb(221, 236, 255);
    padding: 30px 0px 70px 0px;
  }
  .task {
    margin: 20px 0px;
  }
  .task__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: #0297F1;
    padding-bottom: 5px;
  }
  .task__color {
    font-weight: 400;
    color: #13284F;
  }
  .hom {
    margin: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hom__icon {
    width: 345px;
    height: 229px;
    border-radius: 20px;
  }
  .outcom__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: #0297F1;
    padding-bottom: 15px;
  }
  .outcom__text {
    font-weight: 400;
    color: #13284F;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1110px) {
  .implementation {
    padding: 55px 0px 90px 0px;
  }
  .container {
    position: relative;
  }
  .task {
    position: absolute;
    top: 60px;
    left: 600px;
    margin: 60px 0px 80px 50px;
  }
  .task__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: #0297F1;
    padding-bottom: 5px;
  }
  .task__color {
    font-weight: 400;
    color: #13284F;
  }
  .hom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .hom__icon {
    width: 600px;
    height: 400px;
    border-radius: 20px;
  }
  .outcom {
    position: absolute;
    top: 320px;
    left: 645px;
  }
  .outcom__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: #0297F1;
    padding-bottom: 15px;
  }
  .outcom__text {
    font-weight: 400;
    color: #13284F;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 375px) {
  .question {
    padding: 35px 0px 40px;
    background-color: rgb(221, 236, 255);
  }
  .connection {
    margin-bottom: 35px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 345px;
  }
  .piple {
    margin-bottom: 30px;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .piple__img {
    width: 225px;
    height: 284px;
  }
  .consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .consultation__heading {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    color: #13284F;
  }
  .consultation__link {
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    color: #13284F;
    text-align: center;
  }
  .consultation__link:hover {
    color: #0297F1;
    text-decoration: underline;
  }
  .consultation__text {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #13284F;
    margin: 15px 0px 50px 0px;
    text-align: center;
  }
}
@media screen and (min-width: 1110px) {
  .question {
    padding: 60px 0px 90px 0px;
  }
  .connection {
    width: 1080px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .piple {
    margin: 20px 20px 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .piple__img {
    width: 380px;
    height: 400px;
  }
  .consultation {
    padding: 75px 0px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 11px 25px 0px;
  }
  .consultation__heading {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 400;
    color: #13284F;
  }
  .consultation__link {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
    color: #13284F;
  }
  .consultation__text {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
    color: #13284F;
    margin: 25px 0px 40px;
    text-align: center;
  }
}
@media screen and (min-width: 375px) {
  .dignity {
    background-color: #13284F;
    padding: 30px 0px 50px 0px;
  }
  .dignity__heading {
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    color: #0297f1;
    padding-bottom: 25px;
    text-align: center;
  }
  .vanage__heading {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 30px;
    text-decoration: underline;
  }
  .vanage__heading:last-child {
    padding-bottom: 0px;
  }
  .vanage__text {
    display: none;
  }
}
@media screen and (min-width: 1110px) {
  .dignity {
    padding: 35px 0px 95px 0px;
  }
  .dignity__heading {
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    color: #0297f1;
    text-align: center;
    padding-bottom: 70px;
  }
  .vantage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .vantage__list {
    padding-bottom: 100px;
  }
  .vantage__list:nth-child(4) {
    padding-bottom: 0px;
  }
  .vantage__list:nth-child(5) {
    padding-bottom: 0px;
  }
  .vantage__list:nth-child(6) {
    padding-bottom: 0px;
  }
  .vanage__heading {
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    color: #FFFFFF;
    margin-right: 45px;
    padding-bottom: 17px;
  }
  .vanage__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #FFFFFF;
    margin-right: 85px;
  }
}
@media screen and (min-width: 375px) {
  .expert {
    background-color: rgb(221, 236, 255);
  }
  .gasholder__heading {
    padding: 30px 0px 40px;
    margin: 0px 15px;
  }
  .adept {
    background-color: #FFFFFF;
    border-radius: 6px;
  }
  .discussion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information__text {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: rgb(19, 40, 79);
    margin-bottom: 10px;
    padding-left: 15px;
  }
  .color {
    color: #EF8711;
    margin-bottom: 22px;
  }
  .result__list {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #13284F;
    padding-bottom: 15px;
    padding-left: 50px;
    margin-right: 20px;
  }
  .conversion {
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 15px 15px;
  }
  .conversion__heading {
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    color: #0297F1;
    padding-bottom: 20px;
  }
  .rules {
    font-size: 16px;
    font-weight: 400;
    color: #0297F1;
    line-height: 1;
    text-align: center;
  }
  .rules__list {
    margin-bottom: 10px;
  }
  .relus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .relus__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    font-style: 24px;
    line-height: 1;
    font-weight: 400;
  }
  .sending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #0297F1;
    border: 1px;
    border-radius: 15px;
  }
  .sending__buttom {
    padding: 12px 82px;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    font-weight: 400;
  }
}
@media screen and (min-width: 1110px) {
  .discussion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .information__text {
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    padding-left: 65px;
  }
  .color {
    margin-bottom: 50px;
  }
  .result__list {
    font-size: 18px;
    padding-bottom: 35px;
    padding-left: 105px;
  }
  .conversion {
    margin: 15px 65px 15px 15px;
  }
  .conversion__heading {
    font-size: 24px;
    font-weight: 400;
    color: #0297F1;
    line-height: 1;
    text-align: center;
    padding: 20px 0px;
  }
}/*# sourceMappingURL=main.css.map */