$main_bg: rgba(221, 236, 255, 1);
$orange: #EF8711;
$link: #0297F1;
$grey: #85888F;
$black: #13284F;
$white:#FFFFFF;
$blue:rgba(221, 236, 255, 1);
$blue_end_black:rgba(19, 40, 79, 1);
$bc_footer: rgba(19, 40, 79, 1);